.App-Dropdown{
  position: relative;
  width:100%;
  margin-top:15px;
  margin-bottom: 50px;
  outline: none;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: 'TarrgetRegular', sans-serif;
}

.App-Dropdown.wide-screen{
  margin-top:20px;
  margin-bottom: 100px;
}

.App-Dropdown:hover{ 
  border: 1px solid white;
  box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}

.App-Dropdown:focus {
  box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}

.App-Dropdown .dropdown-main{
  color: #97a5a7;
  font-size: 25px;
  padding: 0px 15px;
  border-radius: 10px;
  border:1px solid #97a5a7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.App-Dropdown.wide-screen .dropdown-main{
  font-size: 30px;
  padding: 0px 25px;
  height: 70px;
}

.App-Dropdown .dropdown-options{
  font-size: 20px;
  position: absolute;
  width: 100%;
  display: none;
}

.App-Dropdown.wide-screen .dropdown-options {
  font-size: 25px;
}

.App-Dropdown .dropdown-options.show {
  display: block;
}

.App-Dropdown .dropdown-options__content{
  background-color: rgba(255, 255, 255, 0.796);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  margin:10px;
  padding:10px;
  margin-top:0px;
}

.App-Dropdown .dropdown-options span {
  padding:8px;
  cursor: pointer;
  color: #032228;
  border-radius: 10px;
}

.App-Dropdown .dropdown-options span.selected {
  color: white;
  background-color: #053a4563;
}

.App-Dropdown .dropdown-options span:hover{
  transition: all 0.3s;
  color: white;
  background-color: #053a4563;
}

.App-Dropdown .dropdown-options span:focus {
  transition: all 0.3s;
  color: white;
  background-color: #053a4563;
  outline:none;
}