.App-EndGame{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Gotham', sans-serif;
}

.end__game-name{
  font-size: 35px;
  margin-bottom: 20px;
}

.App-EndGame.wide-screen .end__game-name {
  font-size: 70px;
  margin-bottom: 47px;
}


.end__game-time{
  font-size: 60px;
  margin-bottom: 16px;
}

.App-EndGame.wide-screen .end__game-time {
  font-size: 118px;
  margin-bottom: 26px;
}

.end__game-high{
  font-size: 25px;
  margin-bottom: 30px;
}

.App-EndGame.wide-screen .end__game-high {
  font-size: 53px;
  margin-bottom: 76px;
}