.App-Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 362px;
}

.App-Home.wide-screen{
  max-width: 662px;
}

.App-name{
  color: #ff5155;
  font-size: 31px;
  margin-top:20px;
  font-family: 'Target3D', sans-serif;
}

.App-Home.wide-screen .App-name{
  font-size: 61px;
}

.App-tag{
  margin-bottom: 20px;
}

.App-Home.wide-screen .App-tag {
  margin-bottom: 20px;
}

.App-Home .App-logo{
  width: 180px;
}

.App-Home.wide-screen .App-logo {
  width:unset;
}

.App-Home p{
  color: #ff5155;
  margin: -10px 0px -10px -470px;
  font-weight: bold;
}



.App-line-text{
  position: relative;
  color:#ff5155;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'TarrgetRegular', sans-serif;
}

.App-line-text .line{
  position: relative;
  bottom: 50%;
  border-bottom :2px solid #ff5155;
  flex:1
}

.App-line-text .text{
  margin: 0px 10px;
  font-size: 18px;
}

.App-line-text.wide-screen .text{
  font-size: 26px;
}



.App-Input{
  outline: none;
  border: none;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  background-color: rgba(255,255,255,0.59);
  padding: 0px 10px;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-family: 'TarrgetRegular', sans-serif;
  font-size: 25px;
  color: #032228;
  border: 1px solid transparent;
}

.App-Input.wide-screen{
  height: 70px;
  font-size: 30px;
  padding: 0px 25px;
  margin-bottom: 15px;
}

.App-Input:hover{
  border: 1px solid white;
  box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}



.App-Icon-Button{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;;
  margin-top: 15px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 0px rgb(255, 0, 0);
  transition: all 0.3s;
  user-select: none;
  outline:none;
  font-family: 'TarrgetRegular', sans-serif;
  font-size: 48px;
  color: #ff5155;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
}

.App-Icon-Button span {
  margin-right: 20px;
  color: #ff5155;
  margin-left: 20px;
}

.App-Icon-Button:hover{
  cursor: pointer;
  border: 1px solid red;
  box-shadow: 1px 1px 1px 0px rgb(255, 0, 0);
}

.App-Icon-Button:active{
  border: 1px solid white;
  box-shadow: 1px 1px 1px 0px rgb(255, 0, 0);
}



.App-Dropdown{
  position: relative;
  width:100%;
  margin-top:15px;
  margin-bottom: 50px;
  outline: none;
  border-radius: 10px;
  border: 1px solid transparent;
  font-family: 'TarrgetRegular', sans-serif;
}

.App-Dropdown.wide-screen{
  margin-top:20px;
  margin-bottom: 100px;
}

.App-Dropdown:hover{ 
  border: 1px solid white;
  box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}

.App-Dropdown:focus {
  box-shadow: 1px 1px 1px 0px rgb(255, 255, 255);
}

.App-Dropdown .dropdown-main{
  color: #97a5a7;
  font-size: 25px;
  padding: 0px 15px;
  border-radius: 10px;
  border:1px solid #97a5a7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.App-Dropdown.wide-screen .dropdown-main{
  font-size: 30px;
  padding: 0px 25px;
  height: 70px;
}

.App-Dropdown .dropdown-options{
  font-size: 20px;
  position: absolute;
  width: 100%;
  display: none;
}

.App-Dropdown.wide-screen .dropdown-options {
  font-size: 25px;
}

.App-Dropdown .dropdown-options.show {
  display: block;
}

.App-Dropdown .dropdown-options__content{
  background-color: rgba(255, 255, 255, 0.796);
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 10px 10px;
  margin:10px;
  padding:10px;
  margin-top:0px;
}

.App-Dropdown .dropdown-options span {
  padding:8px;
  cursor: pointer;
  color: #032228;
  border-radius: 10px;
}

.App-Dropdown .dropdown-options span.selected {
  color: white;
  background-color: #053a4563;
}

.App-Dropdown .dropdown-options span:hover{
  transition: all 0.3s;
  color: white;
  background-color: #053a4563;
}

.App-Dropdown .dropdown-options span:focus {
  transition: all 0.3s;
  color: white;
  background-color: #053a4563;
  outline:none;
}




