.App-Home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 362px;
}

.App-Home.wide-screen{
  max-width: 662px;
}

.App-name{
  color: #ff5155;
  font-size: 31px;
  margin-top:20px;
  font-family: 'Target3D', sans-serif;
}

.App-Home.wide-screen .App-name{
  font-size: 61px;
}

.App-tag{
  margin-bottom: 20px;
}

.App-Home.wide-screen .App-tag {
  margin-bottom: 20px;
}

.App-Home .App-logo{
  width: 180px;
}

.App-Home.wide-screen .App-logo {
  width:unset;
}

.App-Home p{
  color: #ff5155;
  margin: -10px 0px -10px 0px;
  font-weight: bold;
}