.App-Game{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
}




.App-Game div{
  font-family: 'Gotham', sans-serif;
  font-size: 30px;
  color: white;
}

.App-Game.wide-screen div{
  font-size: 62px;
}

.intro-text{
  animation: intro 0.3s ease-out;
}


@keyframes intro {
  0% { opacity:  0;}
  1000% { opacity:  1;}
}