* {
  box-sizing: border-box;
}

html, body, #root{
  margin: 0px;
  width: 100%;
  height: 100%;
}

@font-face {
  /* input */
  font-family: 'breamcatcher';
  src: local('breamcatcher'), url(./fonts/breamcatcher.ttf) format('opentype');
}

@font-face {
  /* heading */
  font-family: 'Target3D';
  src: local('Target3D'), url(./fonts/Tarrget3DRegular.otf) format('opentype');
}

@font-face {
  /* heading */
  font-family: 'TarrgetRegular';
  src: local('TarrgetRegular'), url(./fonts/TarrgetRegular.otf) format('opentype');
}

@font-face {
  /* tagline */
  font-family: 'Gotham';
  src: local('Gotham'), url(./fonts/Gotham.otf) format('opentype');
}
